.content{
    background-color: #E8EAEE;
}
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
p{
    color: #000;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
@font-face{
    font-family: myfont;
    src: url(../fonts/myfont.otf);
    src: url(../fonts/myfont.ttf);
}
body{
    background-color: #fff;
    font-family: myfont, 'Roboto', sans-serif;
    padding: 0px;
}

/* blog */
#blog{
    background-color: #E8EAEE;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 40px;
    border-bottom: 1px solid rgba(0,0,0,0.05);
}
.blog-heading{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.blog-heading span{
    color: #1A73E8;
}
.blog-heading h3{
    font-size: 2.4rem;
    color: #666;
    font-weight: 600;
}
.blog-container{
    background-color: #E8EAEE;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0px;
    flex-wrap: wrap;
}
.blog-box{
    width: 1000px;
    background-color: #F3F3F3;
    margin: 20px;
    box-shadow: 0 7px 7px 0 rgba(0,0,0,0.1);
    -webkit-border-radius: 5px;
}
.blog-img{
    margin: 10px;
    width: auto;
    height: 200px;
}
.blog-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.blog-abstract p{
    color: #222;
    margin: 10px;
}
.blog-text{
    padding: 30px;
    display: flex;
    flex-direction: column;
}
.blog-text span{
    color:  #999;
    font-size: 0.9rem;
}
.blog-text .blog-title{
    font-size: 1.7rem;
    font-weight: 500;
    color: #000;
}
.blog-text p{
    color: #9b9b9b;
    font-size: 0.9rem;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 20px 0px;
}
.blog-text a{
    color: #000;
}
.blog-text a:hover{
    color: #1A73E8;
    font-weight: bolder;
    transition: all ease 0.3s;
}
@media(max-width:1250px){
    .blog-box{
        width: 300px;
    }
}
@media(max-width:1100px){
    .blog-box{
        width: 70%;
    }
}
@media(max-width:550px){
    .blog-box{
        margin: 20px 10px;
        width: 100%;
    }
    #blog{
        padding: 20px;
    }
}
.navbar{
    display: flex;
    background-color: rgba(50,50,50, 0.95);
    position: fixed;
    top: 0;
    width: 100%;
    display: block;
    transition: top 0.3s;
}
.navbar a{
    float: right;
    color: #ffffff;
    text-align: left;
    padding: 14px 16px;
    text-decoration: none;
    font-size: large;
    font-weight: bold;
}
.navbar a:hover{
    color: #1A73E8;
}
.search-input{
    padding: 5px;
    margin-top: 10px;
    position: absolute;
    right: auto;
    left: 5px;
}
hr{
    border-style: dashed;
    margin: 0 3rem 1.5rem;
    color: #333;
    opacity: 60%;
}