{% extends 'base.html' %}

{% block content %}
    <section id="blog">
        <div class="blog-heading">
            <span>پست های اخیر</span>
            <h3>وبلاگ شخصی و تخصصی جنگو </h3>
        </div>
        <div class="blog-container">
            {% for post in posts %}
                <div class="blog-box">
                    <div class="blog-img">
                        <img src="{{ post.image }}" alt="img">
                    </div>
                    <div class="blog-text">
                        <span>{{ post.jpublish }}</span>
                        <h3 class="blog-title"><a href="{% url 'post_detail' post.slug %}">{{ post.title }}</a></h3>
                    </div>
                </div>
            {% endfor %}
        </div>
    </section>
{% endblock %}

