{% extends 'base.html' %}

{% block content %}
    <style>
        .contact-section{
            background-color: #F3F3F3;
            max-width: 1000px;
            color: #000;
            margin: auto;
            margin-top: 100px;
            text-align: right;
            padding: 10px;
            -webkit-border-radius: 5px;
        }
        .contact-section a{
            font-weight: bold;
            font-size: large;
            color: #000;
        }
        .contact-section a:hover{
            font-weight: bolder;
            color: 1A73E8;
        }
    </style>
    <section class="contact-section">
        <div class="contact-me">
            <h2>تماس با من</h2>
            <p>اگه سوالی دارید و فکر میکنید من میتونم کمک کنم به این <a href="mailto: mj.kahnamuee@gmail.com">ایمیل</a> پیام بدید.</p>
        </div>
    </section>
{% endblock %}