{% extends 'base.html' %}

{% block content %}
    <style>
        .contact-section{
            color: #000;
            margin-top: 60px;
            text-align: center;
        }
        .contact-section a{
            font-weight: bold;
            font-size: large;
            color: #000;
        }
        .contact-section a:hover{
            font-weight: bolder;
            color: 1A73E8;
        }
    </style>
    <section class="contact-section">
        <h2>تماس با من</h2>
        <a href="mailto: mj.kahnamuee@gmail.com">ایمیل </a>
    </section>
{% endblock %}