{% load static %}

<!DOCTYPE html>
<html lang="en" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Django Blog</title>
    <!-- css -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <!-- navbar -->
    <div class="navbar">
            <a href="#">وبلاگ جنگو</a>
            <a href="#">تماس با من</a>
            <input class="search-input" type="text" placeholder="جستجو">
    </div>
    {% block content %}
    {% endblock %}
    
</body>
</html>